[Desktop Entry]
Encoding=UTF-8
Name=JOTOCOIN
Comment=JOTOCOIN P2P Cryptocurrency
Comment[fr]=JOTOCOIN, monnaie virtuelle cryptographique pair à pair
Comment[tr]=JOTOCOIN, eşten eşe kriptografik sanal para birimi
Exec=jotocoin-qt %u
Terminal=false
Type=Application
Icon=jotocoin128
MimeType=x-scheme-handler/jotocoin;
Categories=Office;Finance;
