[Unit]
Description=JOTOCOIN's distributed currency daemon
After=network.target

[Service]
User=jotocoincore
Group=jotocoincore

Type=forking
PIDFile=/var/lib/jotocoind/jotocoind.pid
ExecStart=/usr/bin/jotocoind -daemon -pid=/var/lib/jotocoind/jotocoind.pid \
-conf=/etc/jotocoincore/jotocoin.conf -datadir=/var/lib/jotocoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
