[Unit]
Description=JOTO's distributed currency daemon
After=network.target

[Service]
User=jotocore
Group=jotocore

Type=forking
PIDFile=/var/lib/jotod/jotod.pid
ExecStart=/usr/bin/jotod -daemon -pid=/var/lib/jotod/jotod.pid \
-conf=/etc/jotocore/joto.conf -datadir=/var/lib/jotod -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
